# Системные файлы и папки
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
*.tmp
*.temp
/logs/

# Зависимости
/node_modules/
/vendor/

# Секретные данные и настройки окружения
.env
.env.local
*.secret

# Файлы редакторов и IDE
.idea/
.vscode/
*.suo
*.nxproj
*.launch
.settings/

# Результаты сборки
/dist/
/build/
/target/
